<template>
  <div class="container">
    <notifications group="error" classes="vue-notification error" />
    <notifications group="success" classes="vue-notification success" />
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Notification</h5>
            <div class="card-body">
                <form @submit.prevent="send">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input v-model="name" type="text" class="form-control" id="name" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input v-model="phone" type="number" class="form-control" id="phone" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input v-model="email" type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <textarea v-model="subject" class="form-control" id="subject" cols="30" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div> 
  </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            name: '',
            phone: '',
            email: '',
            subject: ''
        }
    },
    methods: {
        send () {
            this.axios.post( `${process.env.VUE_APP_API_URL}/notifications`,{
                name: this.name,
                phone: this.phone,
                email: this.email,
                subject: this.subject
            })
            .then(response => {
                if(response.status ==200) {
                    this.$notify({
                        group: 'success',
                        title: 'Successfully created',
                        text: 'The notification was sent via email',
                        width: '200px',
                    });

                }
            })
            .catch(error=> {
              for (var property in error.response.data.errors) {
                    error.response.data.errors[property].forEach((element) => {
                        this.$notify({
                            group: 'error',
                            title: element,
                            text: 'Solve it',
                            width: '200px',
                        });
                    })
                }
            })
        }
    },
}
</script>