<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      This is the technical test of the developer in which a notification is sent via email through a form and it is also saved in the database<br>
    </p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
